*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin : 20px 0;
    background: #36b868;   
    background-image: url('images/games-timeline-poster.jpg')
}

aside{
    background-image: url('images/pointsBackgground.jpg');
    background-size: 350px;
    display: flex;
    border : 15px ridge blue;
    justify-content: flex-end;
    width: 20%;
    height: 390px;
}



aside > h2{
    color : black;
    font-size: 40px;  
    font-weight: bolder;
    text-align: center;
    position: absolute;
    top: 5%;
    right: 3%;
}

button{
    position: absolute;
    text-align: center;
    background-color: green;
    border-radius: 25px;
    width: 100px;
    height: 50px;
    color: white;
    top: 38%;
    right: 10%;
}

#timeLine{
    display: flex;
}


#points{
    color:black;
    font-family: monospace;
    position: absolute;
    font-size: 60px;
    list-style-type: none;
    font-weight: bolder;
    top : 22%;
    right: 7%;

}


#start-button{
    font-style: italic;
    font-weight: bolder;
}

#try-again{
    position: absolute;
    text-align: center;
    background-color: green;
    border-radius: 25px;
    width: 100px;
    height: 50px;
    color: white;
    top: 38%;
    right: 2%;
    font-style: italic;
    font-weight: bolder;
}
#levelImage{
    position: absolute;
    text-align: center;
    background-color: green;
    border-radius: 25px;
    width: 100px;
    height: 30px;
    color: white;
    top: 48%;
    right: 6%;
    font-style: italic;
    font-weight: bolder;

}
.level{
    position: absolute;
    text-align: center;
    background-color: red;
    width: 35px;
    height: 22px;
    color: white;    
    font-style: italic;
    font-weight: bolder;
}

.levelSelected{
    background-color:green;
}

#level1{
    top: 55%;
    right: 15%; 
}
#level2{
    top: 55%;
    right: 140px;
}
#level3{
    top: 55%;
    right: 85px;
}
#level4{
    top: 55%;
    right: 2%;
}


#game-over{
    position: absolute;
    margin: 30px 10%;
}

#win{
    position: absolute;
    margin: 30px 10%;
    border-radius: 23px;
}

#container{
    display: flex;
}


#shuffle{
    background-image: url('images/pointsBackgground.jpg');
    display: flex;    
    width: 80%;;
    border : 15px ridge green;
    flex-wrap: wrap;
    /* padding-left: 50px; */
    /* align-content: inherit; */
    justify-content: center;
}

#shuffle > div{    
    border-radius: 40px;
    border : 5px ridge blue;
    height: 170px;
    width: 140px;    
}


.grid{
    display: flex;
    max-width: 1200px;
    margin : 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.card{
    margin: 5px;
    background-color:white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 350px;
    width: 200px;
}


.grid > div {
    border-radius: 23px;
    width: 110px;
    height: 160px;
    border : 7px solid red;

}

.selected {
    border : 4px solid blue;
    position : relative;
    text-align: center;
    font-size: 30px;
    color: rgb(8, 26, 1);
}

.selected2 {    
    position : relative;
    text-align: center;
    font-size: 45px;
    color: red;    
}


/* .column{
    border : 2px solid blue;

} */

/* .second {

    border : 2px solid orange;
} */
