*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin : 20px 0;
    background: #36b868;   
    background-image: url('images/5980309.jpg');
    background-size: 400px 400px;
    
}

aside{
    background-image: url('images/pointsBackgground.jpg');
    background-size: 350px;
    display: flex;
    border : 15px ridge blue;
    justify-content: flex-end;
    width: 20%;
    height: 390px;
    flex-wrap: wrap;
}



aside > h2{
    color : black;
    font-size: 40px;  
    font-weight: bolder;
    text-align: center;    
    top: 5%;
    right: 3%;
}

button{
    
    text-align: center;
    background-color: green;
    border-radius: 25px;
    width: 100px;
    height: 50px;
    color: white;
    top: 38%;
    right: 10%;
}
    ul{
        margin: 0 auto;
    }

#scoreImage {
    margin: 0 auto;
    width: 400px;
}

#scoreImage > img {
    margin-left: 25px; 
    margin-bottom: 10px;  
    background-color: black; 
}

#timeLine{
    display: flex;
}


#points{
    
    color: rgb(77, 7, 7);
    background-color: white;
    border-radius: 25px;
    font-family: monospace;    
    font-size: 60px;
    list-style-type: none;
    font-weight: bolder;  

}


#start-button{
    font-style: italic;
    font-weight: bolder;
    height: 35px;
}

#try-again{
    
    text-align: center;
    background-color: green;
    border-radius: 25px;
    width: 100px;
    height: 35px;
    color: white;
    font-style: italic;
    font-weight: bolder;
}
#levelImage{
    
    margin: 0 auto;
    background-color: green;
    border-radius: 25px;
    width: 100px;
    height: 25px;
    color: white;
}

#buttonStart-tryAgain{
    margin: 0 auto;

}

#levelButtons{
    margin: 0 auto;

}

#hearts{
    display: flex;
    justify-content: space-evenly;
    
    
}

.level{
    
    background-color: red;
    width: 35px;
    height: 22px;
    color: white;    
    font-style: italic;
    font-weight: bolder;
}

.levelSelected{
    background-color:green;
}


@keyframes gameOverAnimation {
     to{
        transform: scale(1.1);
    }
}

@keyframes winAnimation {
    to{
       transform: scale(1.1);
   }
}

#game-over{
    position: absolute;
    margin: 100px 20%;
    border-radius: 25px;
    animation-name: gameOverAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


#win{
    position: absolute;
    margin: 100px 20%;
    border-radius: 25px;
    animation-name: winAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#container{
    display: flex;
}


#shuffle{
    background-image: url('images/timeLineGames.jpg');
    background-size: 1100px 360px;
    /* background-repeat: no-repeat; */
    display: flex;    
    width: 80%;;
    border : 15px ridge green;
    flex-wrap: wrap;    
    justify-content: center;
}

#shuffle > div{    
    border-radius: 40px;
    /* border : 10px ridge greenyellow; */
    height: 170px;
    width: 140px;    
    text-align: center;
}


.grid{
    display: flex;
    max-width: 1200px;
    margin : 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.card{
    margin: 5px;
    background-color:white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 350px;
    width: 200px;
}


.grid > div {
    border-radius: 23px;
    width: 110px;
    height: 160px;
    border : 7px solid red;

}

.selected {
    
    position : relative;
    text-align: center;  
    font-size: 35px;  
    color: blue;
    font-weight: bolder;
    border : 10px ridge greenyellow;
    padding-top: 95px; 
    /* padding-right:  */
    
}

.selected > span{
    background-color: white;
    border-radius: 10px;
}

.selected2 {    
    position : relative;
    text-align: center;
    font-size: 35px;
    border : 10px ridge red;
    color: red;    
}


/* .column{
    border : 2px solid blue;

} */

/* .second {

    border : 2px solid orange;
} */
